html{
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}
#main{
	color: #4099FF;
	font-size: 65px;
	letter-spacing: -0.05em;
	line-height: 1em;
	margin-left: 25px;
}
#sub{
	color: #555555;
	margin-top: -30px;
	font-size: 80px;
	letter-spacing: -0.05em;
	line-height: 1em;
	margin-left: 45px;
	}
#expcont{
	margin-top: 75px;
	margin-left: 50px;
	height: 500px;
	background-image: url(../img/cb.jpg);
	background-size: 100%;
}

#logocont{
	display: inline;
	margin: 10px 0px 0px 50px;
	width:100%;
}
.head1{
	color: #F5F5F5;
	letter-spacing: -0.05em;
	line-height: 1em;
}
.head2{
	color: #4099FF;
	letter-spacing: -0.05em;
	line-height: 1em;
	/*margin-top: -54px;
	margin-left: 73px;*/
}
.buttons:hover{
	transition-property: all;
 	transition-duration: 500ms;
 	transition-timing-function: cubic-bezier(0.6, 0, 0.4, 1.0);
 	background-color: #F5F5F5;
 	color: #4099FF;
 	float: left;
 	display:inline-block;
	margin-top: -83px;
	margin-bottom: 0px;
	border-right: 1px solid #CCC;
	border-left:1px solid #CCC;
	height: 50px;
	width: 100px;
	line-height: 50px;

}
.buttons{
	transition-property: all;
 	transition-duration: 700ms;
 	transition-timing-function: cubic-bezier(0.6, 0, 0.4, 1.0);
 	background-color: #555;
 	color: #F5F5F5;
 	display:inline-block;
 	float: left;
	margin-top: -83px;
	margin-bottom: 0px;
	border-right: 1px solid #CCC;
	border-left:1px solid #CCC;
	height: 50px;
	width: 100px;
	line-height: 50px;

}
#heads{
	border-bottom: 1px solid #DDD;
	background-color: #555;
	height: 50px;
	position:absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	min-width:900px;
	z-index: 9999;
}
#para{
	color: #555555;
}
#sh{
	font-weight: bold;
	font-family: sans-serif;
	font-size: 10px;
	line-height: 30px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #61CDF5;
}
#ct{
	
	border-bottom: 1px solid #CCC;
	width: 200px;
}
#home{
	margin-left: 300px;

}
#info{
	margin-left: 401px;
}
#forums{
	margin-left: 502px;
}
#contact{
	margin-left: 603px;
}
#home:hover{
	color: #4099FF;
}
#info:hover{
	color: #4099FF;
}
#forums:hover{
	color: #4099FF;
}
#contact:hover{
	color: #4099FF;
}
#hr{
	border-top: 1px solid #DDD;
	margin-left: 50px;
}
#logo{
	margin-top: 2px;
	padding: 0px;
	width: 150px;
	height: 60px;
	margin-left: 10px;
}