body{
  font-size:20px;
}
#main_head{
  font-family: 'Great Vibes', cursive;
}
#second_head{
  font-family: 'Great Vibes', cursive;
}
#wrapper{
  width:35%;
}
li{
  font-family: 'Old Standard TT', serif;
  font-weight: 10;
}
