body{
	font-family: 'Oxygen', sans-serif;
	overflow-y:hidden;
	overflow-x:hidden;
}
p{
	border: 1px solid black;
}
#background{
	position: absolute;
	left:0px;
	top:0px;
	-webkit-filter: blur(3px);
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
	width:100%;
	height:100%;
	z-index:-1;
}
#overlay{
	position: absolute;
	color: white;
	left: 40%;
	top: 35%;
	z-index:1;
	font-size: 75px;
}
#overlay2{
	position: absolute;
	color: white;
	left: 45%;
	top: 45%;
	z-index:1;
	font-size: 65px;
}
#anchor1{
	position:absolute;
	top:-10%;
}
#anchor2{

}
#anchor3{
	position: absolute;
	top: -100%;
	left: 100%;
}
#favi1{
	position: absolute;
	top: 80%;
	left:45%;
	-webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}
#favi2{
	position: absolute;
	top: -10%;
	-webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}
#favi3{
	position: absolute;
	top: 40%;
	left: 90%;
	-webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}
#favi4{
	position: absolute;
	top: 40%;
	-webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}
#favi1:hover{
	position: absolute;
	top: 80%;
	-webkit-transform: scale(1.25); 
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
}
#favi2:hover{
	position: absolute;
	top: -10%;
	-webkit-transform: scale(1.25); 
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
}
#favi3:hover{
	position: absolute;
	top: 40%;
	left: 90%;
	-webkit-transform: scale(1.25); 
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
}
#favi4:hover{
	position: absolute;
	top: 40%;
	-webkit-transform: scale(1.25); 
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
}
#title{
	position: absolute;
	left:50%;

}
#web_panel{
	position:absolute;
	top:110%;
	left:-5%;
	width:100%;
	height: 100%;
}
#hire_request{
	position: absolute;
	left: 100%;
	width:100%;
	height: 100%;
}
#hire{
	display: inline-block;
}
#fname{
	position: absolute;
	left : 50%;
}
#sname{
	position: absolute;
	left : 50%;
}
#email{
	position: absolute;
	left : 50%;
}
#pnumber{
	position: absolute;
	left : 50%;
}
label{
	position:absolute;
	left: 35%;
}
#panel1{
	background-color: #D3D3D3;
	height: 24%;
	width: 32%;
	position: absolute;
	top: 15%;
	left: 21%;
	box-shadow: 10px 10px 5px #888888;
}
#panel2{
	background-color: #D3D3D3;
	height: 24%;
	width: 32%;
	position: absolute;
	top: 15%;
	left: 60%;
	box-shadow: 10px 10px 5px #888888;
}
#panel3{
	background-color: #D3D3D3;
	height: 24%;
	width: 32%;
	position: absolute;
	top: 55%;
	left: 21%;
	box-shadow: 10px 10px 5px #888888;
}
#panel4{
	background-color: #D3D3D3;
	height: 24%;
	width: 32%;
	position: absolute;
	top: 55%;
	left: 60%;
	box-shadow: 10px 10px 5px #888888;
}
